/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Sep-2020, 15:43:33
    Author     : test
*/


@media screen and (max-width : 1920px){
  .content-mobile{
  display:none;
  }
}
@media screen and (max-width : 990px){
 .content-desktop{
 display:none;
  }
 .content-mobile{
  display:block;
  }
}